.header {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.container {
  border: 1px solid var(--dark);
  border-radius: 50%;

  width: 8rem;
  height: 8rem;

  display: grid;
  place-content: center;

  transition: transform 0.5s ease;
}

.container:hover {
  cursor: pointer;
}

.container.rotated {
  transform: rotateY(180deg);
}

:global(.dark-mode) .container {
  border: 1px solid var(--light);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
