.genreItem {
  border: 1px solid var(--dark);
  border-radius: 0.6rem;

  padding: 0.2rem 0.8rem;
}

:global(.dark-mode) .genreItem {
  border: 1px solid var(--light);
}

.genreItem:hover {
  background-color: #22222230;
  cursor: pointer;
}

:global(.dark-mode) .genreItem:hover {
  background-color: #dddddd30;
}

.onBtn {
  background-color: var(--dark);
  color: var(--light);
  pointer-events: none;
}

:global(.dark-mode) .onBtn {
  background-color: var(--light);
  color: var(--dark);
}
